<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="login.css">

  </head>
  <body>
    <%- include('../includes/nav.ejs') %>

   
    <main>
        <form action="/login" method="POST" class="form">
            <label for="email">Email: </label>
            <input type="text" name="email" placeholder="Enter your email address">
            <label for="password">Password: </label>
            <input type="text" name="password" placeholder="Enter your password">
          
            <button type="submit" class="button login-btn">Login</button>
          
        </form>
        <a href="/reset-password" class="button forgot-password-btn">Forgot Password</a>

    </main>
    </body>
    </html>