<%- include('../includes/head.ejs') %>

  </head>
  <body>
    <%- include('../includes/nav.ejs') %>

    <% if(errorMessage) {%>
      <div class="user-message user-message--error" style="display: block;">
        <%= errorMessage %>
      </div>
    <% } %>
        <form action="/reset-email" method="POST">
            <label for="Email: "></label>
        <input name="email" type="text" placeholder="Enter the email address associated with this account.">
        <button type="submit">Send</button>
    </form>



  </body>
  </html>
