
.main-header {
  margin-top: 30px;
  text-align: center;
}
.logo {
  text-align: center;
  display: inline;
  margin: 0 30px;
  color: darkmagenta;
}

.add-todo {
  text-align: center;
  display: inline;
  margin: 0 30px;
  color: rgb(184, 0, 159);
}








.add-todo__btn-div {
  text-align: right;
}



.add-todo a {
  padding: 10px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.add-todo a:hover {
  text-decoration: none;
  background-color: darkmagenta;
  color: white;
  border-radius: 5px;
}

a:active {
  color: darkviolet;
}
