body{
  
}
.main-header {
  margin-top: 30px;
  text-align: center;
}
.logo {
  text-align: center;
  display: inline;
  margin: 0 30px;
  color: darkmagenta;
}

.add-todo {
  text-align: center;
  display: inline;
  margin: 0 30px;
  color: rgb(184, 0, 159);
}





textarea {
  padding: 10px;
  width: 400px;
  border: 3px solid darkmagenta;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 20px;
}

textarea:focus {
  outline: none;
  border-color: rgb(171, 3, 255);
}


.add-todo__btn-div {
  text-align: right;
}



.add-todo a {
  padding: 10px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.add-todo a:hover {
  text-decoration: none;
  background-color: darkmagenta;
  color: white;
  border-radius: 5px;
}

a:active {
  color: darkviolet;
}
