*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  text-align: center;
  display: inline-block;
  margin: 0 30px;
  color: darkmagenta;
}

.main-header {
  text-align: center;
  margin-top: 30px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  width: auto;
  margin: 20px 0;
  font-size: 16px;
  border: none;
  background-color: darkmagenta;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}




.button:hover {
  background-color: rgb(187, 2, 187);
  color: white;
}

.navigation-button {
  padding: 10px;
  text-align: center;
  display: inline-block;
  color: rgb(184, 0, 159);
  background-color: white;
  border: none;
  font-size: 28px;
}



.navigation-button a:hover {
  text-decoration: none;
  background-color: darkmagenta;
  color: white;
  border-radius: 5px;
}

.login-signup-btn {
  position: fixed;
  top: 10px;
  right: 30px;
}




input {
  border: 3px solid darkmagenta;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  margin: 20px 0;
  font-size: 20px;
}


input:focus {
  outline: none;
  border-color: rgb(171, 3, 255);
}







.user-message--error{
  background-color: rgba(240, 72, 72, 0.486);
  padding: 10px;
  color: red;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 1px red solid;
}

.user-message--success{
  background-color: rgb(0, 134, 11);
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 1px solid green;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  color: darkviolet;
}