
  .main-header {
    margin-top: 30px;
    text-align: center;
  }
  .logo {
    text-align: center;
    display: inline;
    margin: 0 30px;
    color: darkmagenta;
  }
  
  .add-todo {
    text-align: center;
    display: inline;
    margin: 0 30px;
    color: rgb(184, 0, 159);
  }
  
  .form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  .add-todo__form {
    text-align: left;
  }
  
  input {
    border: 3px solid darkmagenta;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    margin: 20px 0;
    font-size: 20px;
  }
  
  input:focus {
    outline: none;
    border-color: rgb(171, 3, 255);
  }
  

  .add-todo__btn {
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    margin: 20px 0;
    border: none;
    background-color: darkmagenta;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .add-todo__btn-div {
    text-align: right;
  }
  
  .add-todo__btn:hover {
    background-color: rgb(187, 2, 187);
    color: white;
  }
  
  .add-todo a {
    padding: 10px;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  .add-todo a:hover {
    text-decoration: none;
    background-color: darkmagenta;
    color: white;
    border-radius: 5px;
  }
  
  a:active {
    color: darkviolet;
  }
  