





.pagination {
  text-align: center;
  margin-top: 50px;
}

.pagination a {
  border: 1px solid darkmagenta;
  color: darkmagenta;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: darkmagenta;
  color: white;
}

.all-todos {
  padding: 30px;
  border: 3px solid darkmagenta;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 80px;
  border-radius: 30px;
  list-style: none;
}

.all-todos__todo-title {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0;
  color: darkmagenta;
}

.all-todos__todo-body {
  color: rgb(170, 2, 170);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.add-todo a {
  padding: 10px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



a:active {
  color: darkviolet;
}

.li {
  display: inline-block;
}
.edit-delete-div {
  text-align: center;
  margin-top: 30px;
}

.edit-delete {
  border: 2px solid darkmagenta;
  padding: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.edit-delete:hover,
.edit-delete:active {
  background-color: darkmagenta;
  color: white;
}

.login-signup-btn {
  position: fixed;
  top: 10px;
  right: 30px;
}

.login-btn {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.signup-btn {
  display: inline-block;
  
}
.login-btn a{
  color: darkmagenta;
  padding: 10px;
  border-radius: 5px;
}

.signup-btn a{
  color: darkmagenta;

  padding: 10px;
  border-radius: 5px;
}


.login-btn  a:hover,
.login-btn  a:active{
  background-color: darkmagenta;
  color: white;
}

.signup-btn  a:hover,
.signup-btn  a:active{
  background-color: darkmagenta;
  color: white;
}


.edit-btn{
  display: inline-block;
}

.delete-btn{
  display: inline-block;
}