.pagination {
  text-align: center;
  margin-top: 50px;
}

.pagination a {
  border: 1px solid darkmagenta;
  color: darkmagenta;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: darkmagenta;
  color: white;
}

.all-todos {
  padding: 30px;
  border: 3px solid darkmagenta;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 80px;
  border-radius: 30px;
  list-style: none;
}

.all-todos__todo-title {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0;
  color: darkmagenta;
}

.all-todos__todo-body {
  color: rgb(170, 2, 170);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.add-todo a {
  padding: 10px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  color: darkviolet;
}

.li {
  display: inline-block;
}


.edit-delete-div {
  text-align: center;
  width: 50%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.edit-btn {
  vertical-align: center;
  display: inline-block;
  
}

.delete-form {
  vertical-align: center;
  display: inline-block;
}

