<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="login.css">

<link rel="stylesheet" href="add-todo.css">
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-add-todo">
      <section class="form">
        <form class="add-todo__form" action="/add-todo" method="POST">
          <div class="form-input">
            <input type="text" name="title" />
          </div>
          <div class="form-textarea">
            <textarea name="body" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="add-todo__btn-div"><button class="button" type="submit">Add Todo</button></div>
        </form>
      </section>
    </main>
  </body>
</html>
